<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oas76.RaymonTour"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.oas76.RaymonTour.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oas76.RaymonTour.TournamentEdit"
            android:label="@string/title_activity_tournament_edit" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oas76.RaymonTour.MainActivity" />
        </activity>
        <activity
            android:name="com.oas76.RaymonTour.PlayerEdit"
            android:label="@string/title_activity_player_edit" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oas76.RaymonTour.MainActivity" />
        </activity>
        <provider
            android:name=".TourContentProvider"
            android:authorities="com.oas76.raymontour"
            android:exported="false" >
        </provider>
    </application>

</manifest>