<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oas76.RaymonTour"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/raymon_start_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.oas76.RaymonTour.TourSplash"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oas76.RaymonTour.MainActivity"
            android:configChanges="orientation"
            android:label="main menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.oas76.RaymonTour.TournamentEdit"
            android:configChanges="orientation"
            android:label="@string/title_activity_tournament_edit"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oas76.RaymonTour.MainActivity" />
        </activity>
        <activity
            android:name="com.oas76.RaymonTour.SettingsActivity"
            android:configChanges="orientation"
            android:label="Settings"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oas76.RaymonTour.MainActivity" />
        </activity>
        <activity
            android:name="com.oas76.RaymonTour.PlayerEdit"
            android:configChanges="orientation"
            android:label="@string/title_activity_player_edit"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oas76.RaymonTour.MainActivity" />
        </activity>

        <provider
            android:name="com.oas76.RaymonTour.TourContentProvider"
            android:authorities="com.oas76.raymontour"
            android:exported="false" >
        </provider>

        <activity
            android:name="com.oas76.RaymonTour.TourEdit"
            android:configChanges="orientation"
            android:label="@string/title_activity_tour_edit"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oas76.RaymonTour.MainActivity" />
        </activity>
        <activity
            android:name="com.oas76.RaymonTour.ScoreEdit"
            android:label="@string/title_activity_score_edit" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oas76.RaymonTour.MainActivity" />
        </activity>
    </application>

</manifest>